@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?nmxn1m');
    src:    url('fonts/icomoon.eot?nmxn1m#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?nmxn1m') format('truetype'),
        url('fonts/icomoon.woff?nmxn1m') format('woff'),
        url('fonts/icomoon.svg?nmxn1m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wordpress:before {
    content: "\e900";
}




@font-face {
    font-family: 'camptonbold_demo'; 
    src: url('../fonts/campton-bolddemo.eot');
    src: url('../fonts/campton-bolddemo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton-bolddemo.woff2') format('woff2'),
         url('../fonts/campton-bolddemo.woff') format('woff'),
         url('../fonts/campton-bolddemo.ttf') format('truetype'),
         url('../fonts/campton-bolddemo.svg#camptonbold_demo') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face {
  font-family: 'GothamRounded-Light';
  src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/GothamRounded-Light.otf')  format('opentype'),
	   url('../fonts/GothamRounded-Light.woff') format('woff'), 
	   url('../fonts/GothamRounded-Light.ttf')  format('truetype'), 
	   url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/GothamRounded-Medium.otf')  format('opentype'),
	   url('../fonts/GothamRounded-Medium.woff') format('woff'), 
	   url('../fonts/GothamRounded-Medium.ttf')  format('truetype'), 
	   url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{font-family: 'GothamRounded-Light'; color:#fff; background:url(../images/404-bg.jpg) top center no-repeat; 
overflow-x:hidden;/*background-size:cover; background-position:center;*/}

 #stats{ display:none;}

/* main */
.main{ position:absolute; top:0px; width:100%;}

/* header */
header{ padding:74px 0 54px 0;}

/* logo */
.logo{ padding:0px;}
.logo a img{ margin:0 auto; display:block;}

/* list */
.list{ padding:18px 0 0 40px; }
.list ul{padding:0px;margin:0px; list-style:none;}
.list ul li{ float:left; margin:0 21px 0 0;}
.list ul li a{ font-size:15.93px; color:#fff; text-transform:uppercase; text-decoration:none; display:block; border-radius:4px;
border:1px solid #faf9fb;font-family: 'GothamRounded-Light'; line-height:40px; padding:0 8px;transition-property: background;
  transition-duration: 1s;  transition-timing-function: linear;}

.list ul li a:hover {
  background: #fff; color:#333;
}


/* found */
.found{ padding:0 0 136px 0;}

/* foundtxt */
.foundtxt{ padding:0px; text-align:center;}
.foundtxt h1{ font-size:96.11px; padding:0 0 10px 0;margin:0px; padding:0px;}
.foundtxt span{ font-size:31.24px; color:#fff; margin:0px; padding:0px 0 84px 0; display:block;}
.foundtxt p{ font-size:27.88px; line-height:47.8px; padding:0px; margin:0px;}

/* service */
.service{ background:url(../images/service-bg.png) top center no-repeat; padding:45px 0 70px 0; margin:0 0 156px 0;
 position:relative;top:2px;}
.service h2{ font-size:40px; color:#fff; text-align:center; padding:0 0 18px 0; margin:0 0 56px 0; 
background:url(../images/line-btm.png) center bottom no-repeat; }
.service-2{border-top:2px dashed #fff;height: 4px;width: 98%;}
/* icon */
.icon{background:url(../images/side-line.png) right top no-repeat;}

/* serviceicon */
.serviceicon{ padding:22px 0 0 0; }
.serviceicon img{ display:block; margin:0 auto 28px;}
.serviceicon h3{ font-size:23.11px; line-height:24px; text-align:center;}

/* scissor */
.scissor{ position:absolute; top:-17px; left:0px; width:50px; height:33px; cursor:pointer;  }

.icon-scissors-1{ background:url('../images/scissor-1.png'); width:50px; height:33px; cursor:pointer;}
.icon-scissors-2{ background:url('../images/scissor-2.png'); width:50px; height:33px; cursor:pointer;}
.icon-scissors-3{ background:url('../images/scissor-3.png'); width:50px; height:33px; cursor:pointer;}
.icon-scissors-4{ background:url('../images/scissor-2.png'); width:50px; height:33px; cursor:pointer;}
.icon-scissors-5{ background:url('../images/scissor-1.png'); width:50px; height:33px; cursor:pointer;}


.nobg{ background:none !important; }

.height0{ height:0px; }
@media only screen and (min-width: 320px) and (max-width: 480px)
{
.logo{ margin:0 auto 20px;}
.logo a img{ margin:0 auto; display:block; width:100%; height:auto;}
.list{ width:273px; margin:0 auto;padding: 18px 0 0 0px;}
.list ul li { margin: 0 6px 0 0;}
.list ul li a{padding: 0 4px;}
.service{background:#9e4875;}
.serviceicon{ padding:22px 0; border-bottom:1px solid #fff;}
.icon{ background:none;}
}



@media only screen and (min-width: 481px) and (max-width:639px)
{

.logo{ margin:0 auto 20px;}
.list{ width:375px; margin:0 auto;}
.service{background:#9e4875; margin:0px;}
.serviceicon{ padding:22px 0; border-bottom:1px solid #fff;}
.icon{ background:none;}
}

@media only screen and (min-width:640px) and (max-width:767px)
{

.logo{ margin:0 auto 20px;}
.list{ width:375px; margin:0 auto;}
.service{background:#9e4875; margin:0px;}
.serviceicon{ padding:22px 0; border-bottom:1px solid #fff;}
.icon{ background:none;}
}


@media only screen and (min-width:768px) and (max-width:991px)
{
.logo{ margin:0 auto 20px;}
.list{ width:375px; margin:0 auto;}
.service{background:#9e4875; margin:0px;}
.serviceicon{ padding:22px 0;     min-height: 245px;}
.non{ background:none;}
}

