.borderRadius{-moz-border-radius:5px; border-radius:5px; }
/*.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}*/
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.head .ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:pointer;
width:26% !important; outline:none;}
.head .ddcommon ul{padding:0;margin:0;}
.head .ddcommon ul li{list-style-type:none;}
.head .borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.head .borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.head .ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.head .ddcommon .clear{clear:both}
.head .ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.head .ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.head .ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.head .borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.head .borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.head .borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.head .borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.head .ddcommon .divider{width:0; height:100%; position:absolute;}
.head .ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.head .ddcommon .ddArrow:hover{background-position:0 100%;}
.head .ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.head .ddcommon .ddTitle .ddTitleText{display:block;}
.head .ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.head .ddcommon .ddTitle .description{display:block;}
.head .ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.head .ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.head .ddcommon .ddChild li{clear:both;}
.head .ddcommon .ddChild li .description{display:block;}
.head .ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.head .ddcommon .ddChild li.optgroup{padding:0;}
.head .ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.head .ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.head .ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/

.lang .ddlabel{ color:#fff;}
.langin .ddlabel{ color:#939393 !important;}
.head.sticky .ddlabel { color:#939393;}

/*.dd .divider{border-left:1px solid #c3c3c3; border-right:1px solid #fff;; right:24px;}
.dd .ddArrow{width:16px;height:16px; margin-top:-8px; background:url(../../images/msdropdown/skin1/dd_arrow.gif) no-repeat;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#000;background:#e2e2e4 url(../../images/msdropdown/skin1/title-bg.gif) repeat-x left top;}
.dd .ddTitle .ddTitleText{padding:5px 20px 5px 5px;}*/
.head .dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.head .dd .ddTitle .description{font-size:12px; color:#666}
.head .dd .ddTitle .ddTitleText img{padding-right:5px;}
.head .dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.head .dd .ddChild li{padding:5px; background-color:#fff; margin:0px;}
.head .dd .ddChild li .description{color:#666;}
.head .dd .ddChild li .ddlabel{color:#333;}
.head .dd .ddChild li.hover{background-color:#f2f2f2}
.head .dd .ddChild li img{padding:0 6px 0 0;}
.head .dd .ddChild li.optgroup{padding:0;}
.head .dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.head .dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.head .dd .ddChild li.selected{ color:#000;}
