.form-element{ width:auto !important; float:left;}
.filtr-item {
	padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter{ margin-bottom:65px;}
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #39353f;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px 5px; font-size:16px;font-family: 'GothamRounded-Light'; font-weight:bold; margin:0 20px;
}
.simplefilter li {
}
.simplefilter li.active {
   color:#fff; border-radius:8px;
    background-color: #0492ee;
}
.simplefilter li.active:after {content: "";
    display: block;
    /*background:url(../images/down-arrw.jpg) no-repeat;*/border-left: 5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #0492ee; 
    width:0;
    height:0;
    position: relative;
    bottom: -10px;
    left:40%; right:40%;
}
.multifilter li.active {color:#fff; border-radius:8px;
    background-color: #0492ee;
}

/* Shuffle and sort controls */
select {
  /*  padding: 1rem 1rem;
    text-transform: uppercase;*/
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.search-row {
    margin-left: 2.5rem;
}
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}






