/* CSS3 STYLE GENERIC */
.view {
   width: 100%;
   height: 630px;
   margin:0 0 27px 0;
  /* float: left;
   border: 5px solid #fff;text-align: center;*/
   overflow: hidden;
   position: relative; 
   -webkit-box-shadow: 0px 0px 3px 1px #ededed;
   -moz-box-shadow: 0px 0px 3px 1px #ededed;
   box-shadow: 0px 0px 3px 1px #ededed;
   cursor: default;
}
.view .mask, .view .content  {
  width: 100%;
   height: 630px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   cursor:pointer;
}
.view img ,.view .viewcon{
   display: block;
   position: relative;
}
.view a.info {
   background:url(../images/arrow-hv.png) center center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:78px;
   height:78px;
}
