/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
}

.cd-main-content {

}
.cd-main-content h1 {
  
}
.cd-main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: #89ba2c;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
   
  }
}

.cd-panel {
  position: fixed;
  top: 0;z-index: 100000;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
  background:rgba(0,0,0,0.8);
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
 /* background: rgba(255, 255, 255, 0.96);*/
  z-index: 2;
/*  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
*/  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 50%;
  }
}



.cd-panel-close {
  position: absolute;
  top: 18px;
  right: 20px;
  height: 100%;
  width:100px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
 /* text-indent: 100%;*/
  white-space: nowrap;
  color:#fff; text-decoration:none; font-size:20px;
}

form{ padding:0px;}
form p{ overflow:hidden; margin:0 0 30px 0;}
.formft{ float:left; width:46%;}		
.formrt{ float:right; width:46%; position:relative;}		
.formfield{color:#fbfbfb; border:1px solid #fbfbfb; border-radius:3px; padding: 0 5px 0 35px; line-height:40px; width:100%;
background:none; outline:none; font-size:15px;font-family: 'GothamRounded-Light'; }

.notes{color:#fbfbfb; border:1px solid #fbfbfb; border-radius:3px; padding: 0 5px 0 35px; line-height:40px; width:100%;
outline:none;background: url(../images/note.png) 8px 13px no-repeat; margin:0 0 30px 0; height:100px;
font-family: 'GothamRounded-Light'; }

.quotebtn{ font-size:14px; text-transform:uppercase; color:#fbfbfb; text-align:center; background-color:#3f1e73;border-radius:3px; 
width:170px; height:42px; margin:0 auto; display:block;-webkit-box-shadow: 0px 6px 0px 0px rgba(64,33,114,0.48);
-moz-box-shadow: 0px 6px 0px 0px rgba(64,33,114,0.48);font-family: 'GothamRounded-Light'; 
box-shadow: 0px 6px 0px 0px rgba(64,33,114,0.48);-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;}
.quotebtn:hover{ text-decoration:none; color:#fbfbfb; background-color:#955bf0;}

#name{ background:url(../images/name.png) 8px 12px no-repeat; /*width:12px; height:14px; */display:block;}
#email{ background:url(../images/envolpe.png) 8px 13px no-repeat; /*width:12px; height:14px; */display:block;}
#phone{ background:url(../images/phone.png) 8px 13px no-repeat; /*width:12px; height:14px; */display:block;}


.service_box{background:url(../images/bag.png) 0 0 no-repeat;position:absolute; width:15px; height:14px;top:12px; left:10px;
font-family: 'GothamRounded-Light'; }



.select-wrapperin{ border-radius:4px; margin: 0;padding: 0 10px; text-align:left;
		float: left;height: 40px; line-height:40px;display: inline-block;border:1px solid #fbfbfb; border-radius:3px;
		background:url(../images/select-down2.png) right center no-repeat;
		cursor: pointer;
	}
	.select-wrapperin, .select-wrapperin select{
		width: 100%;
		height: 40px !important;
		line-height: 40px !important;
	}
	.select-wrapperin:hover{
		background:url(../images/select-down2.png) right center no-repeat;
	}
	.select-wrapperin .holder{
		display: block;
		margin: 0 0 0 28px;
		white-space: nowrap;            
		overflow: hidden;
		cursor: pointer;
		position: relative;
		/*z-index: -1;*/
	}
	.select-wrapperin select{
		margin: 0 0 0 -10px; padding:0 0 0 40px;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		width:100% !important;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}











.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;content: '';
  top: 22px;
  right: 10px;
  height: 3px;
  width: 22px;
  background-color: #fff;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
 /* background-color: #424f5c;*/ text-decoration:none; color:#fff;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width:713px ;
  height: 100%;
  top: 0;
  background: url(../images/sidepanel.png) no-repeat;;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  background-size:cover;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media only screen and (min-width: 320px) {
  .cd-panel-container {
    width:85%;
  }
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 60%;
  }
}

.cd-panel-content {
   margin:0 auto; padding: 90px 50px 0 ;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}

.cd-panel-content h1{ font-size:35px; text-align:center; color:#fbfbfb; font-family: 'camptonlight_demo'; padding:0 0 20px 0;
margin:0px;}
.cd-panel-content p{font-size:15px; text-align:center; color:#fbfbfb; font-family: 'camptonlight_demo'; padding:0 0 32px 0;
margin:0px;}


/*.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}*/
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
 /* .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }*/
}
